@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --main-header-color-: #1c1b1b;
    --main-header-color: #000;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    background: none;
    outline: none;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0 auto;
}
/* Header */
.pre-header {
    width: 100%;
    height: 50px;
    background-color: var(--main-header-color-);
    z-index: 3;
}
.pre-header__left {

}
.pre-header__mail {
    margin-right: 20px;
}
.pre-header__phone {
}
.pre-header__right {

}
.header {
    font-family: 'Source Sans Pro', sans-serif !important;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    z-index: 3;
}
.header__navigation-mobile {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #1c1b1b;
    transition: 0.4s;
    z-index: 4;
    overflow: hidden;
}
.headerAfter {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 5;
    background-color: #1c1b1b;
}
.headerBefore {
    margin-top: 45px;
    position: fixed;
    width: 100%;
    height: 25px;
    z-index: 5;
    background-image: linear-gradient(#1c1b1b,rgba(28,27,27,.6) 40%,rgba(28,27,27,0));
}
.mobileWrapper {
    padding: 0px 25px;
    margin-top: 70px;
}
.mobileWrapper::after {
    display: block;
    content: '';
    height: 20px;
}
.outside {
    margin-top: 20px;
}
.inside {
    max-height: 0;
    margin-left: 16px;
    visibility: hidden;
    transition: max-height .35s ease-in-out, visibility .35s ease-in-out;
    overflow: hidden;
}
.header__logo {
    position: absolute;
    left: 50px;
}
.header__mobileMenuList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__listOne {
    height: auto;
    width: 100%;
    border-bottom: solid 1px #333;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.4s;
}
.header__listTwo {
    padding: 13px 0px;
}
.header__linkMobile {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    color: #fff;
    width: 100%;
}
.header__arrow {
    margin-right: 10px;
    fill: #fff;
    transition: transform 0.3s ease;
}
.header__linkMobile-inner {
    display: inline-block;
    width: 100%;
    color: rgba(255,255,255,.5);
    font-size: 16px;
}
.header__settingsMobile {
    margin-top: 28px;
}
.header__profile {
    display: flex;
    width: 100%;
    color: #6a6a6a;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.settinsMobile__select {
    position: relative;
    display: flex;
    flex-direction: row;
}
.header__profile select {
    padding-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #2ad59f;
    background: 0 0;
    border: none;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select--icon {
    position: absolute;
    right: 0;
    height: 9px;
    top: calc(50% - 3px);
    width: 9px;
    fill: #2ad59f;
    pointer-events: none;
}
.header__profile option {
    background-color: #fff;
    color: #000;
}
.header__profile span {
    font-size: 13px;
    color: #2ad59f;
}
.header__navigation {
    height: 100%;
    font-style: normal;
}
.header__toolbar {
    display: flex;
    position: absolute;
    right: 50px;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__nav {
    margin: 0px 15px;
}
.header__navLinks {
    font-weight: 600;
    font-size: 15px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-header-color);
}
.header__navLinks:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--main-header-color);
}
.header__nav:hover .header__navLinks:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
.header__nav.focused .header__dropdownMenu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    transition: transform .25s ease, opacity 0ms, visibility 0ms;
}
.header__nav.focused .header__dropdownMenu .header__dropdownMenu-column {
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s ease, opacity .2s linear;
    transition-delay: .2s;
}
.header__dropdownMenu {
    width: 100%;
    padding: 40px;
    padding-top: 16px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    max-height: 800px;
    top: 70px;
    left: 0;
    right: 0;
    transition: transform .1s ease, opacity 0ms linear .1s, visibility 0ms linear .1s;
    transform-origin: top center;
    transform: scaleY(0);
}
.header__dropdownMenu-inner {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.header__dropdownMenu-column {
    width: 16.666666%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform .1s, opacity .1s;
    transition-delay: 0s;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}
.header__dropdownMenu-title {
    color: var(--main-header-color);
    margin-bottom: 14px;
    font-size: 16px;
}
.header__dropdownMenu-link {
    display: block;
    color: #757575;
    font-size: 15px;
    line-height: 1.428571;
    margin-bottom: 6px;
}
.header__dropdownMenu-link:hover {
    color: var(--main-header-color);
}
.profile, .search, .cart {
    cursor: pointer;
    margin-left: 25px;
}
.icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1px;
    background: 0 0;
}
.icon--search, .icon--profile {
    stroke: var(--main-header-color);
}
.icon--search {
    width: 21px;
    height: 21px;
    fill: var(--main-header-color);
}
.icon--profile {
    width: 20px;
    height: 20px;
    fill: var(--main-header-color);
}
.icon--cart {
    width: 19px;
    height: 23px;
    fill: var(--main-header-color);
}
.sidebar {
    display: none;
    cursor: pointer;
    margin-left: 18px;
    height: 25px;
    z-index: 5;
}
.sidebar div {
    width: 18px;
    height: 2px;
    background-color: var(--main-header-color);
    margin: 5px 0;
    transition: 0.4s;
}
.search-mobileView {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
}
.search-mobileView__areaInput {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 41px;
    color: #fff;
    border: 1px solid #fff;
}
.search-mobileView__areaButton {
    position: absolute;
    right: 10px;
}
.cartArea {
    width: 40%;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    right: -103%;
    transition: 2s;
    z-index: 7;
}
.cartArea::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 10px rgb(54 54 54 / 20%), -2px 0 10px rgb(54 54 54 / 20%);
    transition: opacity .5s cubic-bezier(.645, .045, .355, 1);
}
.cartArea__header {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 -1px #d9d9d9 inset;
    padding: 0px 30px;
}
.cartArea__title {
    font-weight: 400;
    font-style: normal;
    color: var(--main-header-color);
    letter-spacing: .2em;
    text-transform: uppercase;
}

/* Content */

.content {
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 70px;
}
.title--h1 {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--main-header-color);
}
.title--h1 span {
    color: #2ad59f;
}
.cover {
    
}
.presentation-inner, .popularProd-inner {
    min-width: 0;
}
.swiper-wrapper {
}
.slide-button-next, .slide-button-prev {
    position: absolute;
    top: 35%;
    z-index: 2;
    width: 40px;
    cursor: pointer;
}
.swiper-button-disabled {
    opacity: 0.3;
}
.slide__arrow {
    fill: #000;
}
.categories__item:nth-child(1), .categories__item:nth-child(2) {
    margin-bottom: 2%;
}
.content__promotion {
    width: 100%;
    height: 350px;
    background-color: #e9e9e9;
}
.productCard {
    display: flex;
    justify-content: center;
}
.productCard .productCard-inner {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.productCard__blockImage {
    overflow: hidden;
    position: relative;
    height: 250px;
}
.productCard__blockImage img {
    object-fit: cover;
    width: 100%;
    height: 280px;
    transition: all 0.3s ease;
}
.productCard__sizeLine {
    width: 28px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(100% - 15px);
    right: 70px;
    z-index: 1;
    background-color: #fff;
    transition: top 0.3s ease;
}
.productCard__sizeLine span {
    color: var(--main-header-color);
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px;
}
.productCard__blockInfo {
    padding: 17px;
    display: flex;
    flex-direction: column;
}
.productCard__title {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000;
}
.productCard__price {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}
.productCard__mobileSizeLine {
    margin-top: 5px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 13px;
    color: #999;
}
.productCard__mobileSizeLine span {
    padding: 3px 5px;
    margin: 5px 5px 5px 0px;
    border: 1px solid #f3f3f3;
    display: inline-block;
    border-radius: 2px;
    font-size: 11px;
    color: #000;
}
/* Footer */

.footer {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    /* background-color: #f4f3f1; */
    background-color: #fff;
    padding: 34px 0;
    display: flex;
    flex-direction: column;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.footer__mainLinks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__updatesBLock {
    width: 40%;
}
.footer__section {
    flex: 0 1 50%;
    margin-bottom: 35px;
}
.footer__title {
    color: var(--main-header-color);
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}
.footer__list {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a;
}
.footer__paragpaph {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a; 
}
.footer__link {
    width: 100%;
    display: block;
    text-align: inherit;
    transition: color .2s ease-in-out;
}
.footer__link:hover {
    color: var(--main-header-color);
}
.footer__subscribe {
    margin-top: 18px;
    width: 100%;
    max-width: 420px;
}
.footer__input {
    width: 100%;
    display: block;
    padding: 0px 14px;
    height: 44px;
    border: 1px solid #d9d9d9;
    color: var(--main-header-color);
    transition: border-color .1s ease-in-out;
    resize: none;
    font-size: 15px;
}
.footer__input:focus {
    border-color: var(--main-header-color);
}
.footer__button {
    cursor: pointer;
    margin-top: 20px;
    height: 44px;
    padding: 0px 28px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--main-header-color);
    transition: .2s ease-out;
}
.footer__button:hover {
    color: #fff;
    background-color: var(--main-header-color);
}
.footer__aside {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.payTablet {
    margin-top: 28px;
}
.payTablet__tool {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.footer__usNetworks {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer__usNetworks-aside {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.usNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    background-color: #d9d9d9;
    transition: background-color 0.3s ease;
}
.usNetworks span {
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.usNetworks:nth-child(1)::after, .usNetworks:nth-child(3)::after {
    display: block;
    content: "";
    position: absolute;
    height: 35px;
    width: 2px;
    background-color: #fff;
}
.usNetworks:nth-child(1)::after {
    right: 33.20%;
}
.usNetworks:nth-child(3)::after {
    left: 33.20%;
}
.footer__usNetworks-aside svg {
    width: 17px;
    height: 17px;
    fill: #fff;
}
.footer__usNetworks-aside .usNetworks:nth-child(1):hover {
    background-color: #e1306c;
}
.footer__usNetworks-aside .usNetworks:nth-child(2):hover {
    background-color: #0088cc;
}
.footer__usNetworks-aside .usNetworks:nth-child(3):hover {
    background-color: #4FCE5D;
}

/* Adaptive block */

@media (max-width: 1120px) {
    
}
@media (max-width: 991px) {
    .indent {
        margin-bottom: 35px;
    }
    .header {
        box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
        position: fixed;
    }
    .header__navigation-mobile {
        display: block;
    }
    .sidebar {
        display: inline-block;
    }
    .container {
        padding: 0px 25px;
    }
    .header__logo {
        left: 25px;
    }
    .header__toolbar {
        right: 25px;
    }
    .cart {
        margin-left: 0px;
    }
    .icon--cart {
        width: 17px;
        height: 20px;
    }
    .cartArea {
        width: 100%;
        transition: 0.5s;
    }
    .profile, .search, 
    .header__navigation, 
    .productCard__sizeLine, 
    .pre-header, 
    .header__dropdownMenu {
        display: none;
    }
    .header__cartArea {
        transition: 0.5s;
    }
    .icon--profile {
        width: 19px;
        height: 19px;
        stroke: #2ad59f;
    }
    .icon--search {
        stroke: #fff;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__section {
        flex: 0 1 33%;
    }
    .footer__mainLinks, .footer__updatesBLock {
        width: 100%;
    }
    .productCard__mobileSizeLine.undisplay {
        display: flex;
    }
}
@media (max-width: 641px) {
    .footer__aside {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
@media (max-width: 575px) {
    .title--h1 {
        font-size: 24px;
    }
    .footer__section {
        flex: 0 1 50%;
    }
    .payTablet {
        width: 100%;
    }
    .payTablet-inner {
        display: flex;
        justify-content: center;
    }
    .usNetworks span {
        display: none;
    }
    .footer__usNetworks-aside .usNetworks:nth-child(1):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(2):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(3):hover {
        background-color: #d9d9d9;
    }
}
@media (max-width: 425px) {
    .footer__inner {
        justify-content: center;
    }
    .footer__section {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .footer__list, .footer__title, .footer__paragpaph {
        text-align: center;
    }
    .footer__updatesBLock {
        margin-top: 20px;
    }
    .footer__subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}
@media (min-width: 641px) {
    .footer {
        padding: 75px 0 42px 0;
    }
}
/* JS toggle classes */

.active--menu {
    top: 0 !important;
    transition: 0.4s;
    overflow: auto;
}
.active--cart {
    right: 0 !important;
    transition: 0.5s;
}
.open-menu .burgerTop {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
    background-color: #fff;
}
.open-menu .burgerMiddle {
    opacity: 0;
} 
.open-menu .burgerBottom {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #fff;
}