@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --main-header-color: #1c1b1b;
    --main-header-color-: #000;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    background: none;
    outline: none;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}  
.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.indent {
    margin-bottom: 70px;
}
/* Header */

.header {
    font-family: 'Montserrat', sans-serif !important;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    z-index: 3;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0 auto;
}
.flexelements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container--relative {
    position: relative;
}
.header__navigation-mobile {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: var(--main-header-color);
    transition: 0.4s;
    z-index: 4;
    overflow: hidden;
}
.headerAfter {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 5;
    background-color: var(--main-header-color);
}
.headerBefore {
    margin-top: 45px;
    position: fixed;
    width: 100%;
    height: 25px;
    z-index: 5;
    background-image: linear-gradient(#1c1b1b,rgba(28,27,27,.6) 40%,rgba(28,27,27,0));
}
.mobileWrapper {
    padding: 0px 25px;
    margin-top: 70px;
}
.mobileWrapper::after {
    display: block;
    content: '';
    height: 20px;
}
.outside {
    margin-top: 20px;
}
.inside {
    max-height: 0;
    margin-left: 16px;
    visibility: hidden;
    transition: max-height .35s ease-in-out, visibility .35s ease-in-out;
    overflow: hidden;
}
.header__mobileMenuList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__listOne {
    height: auto;
    width: 100%;
    border-bottom: solid 1px #333;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.4s;
}
.header__listTwo {
    padding: 13px 0px;
}
.header__linkMobile {
    display: inline-block;
    padding: 20px 0px;
    color: #fff;
    width: 100%;
}
.header__linkMobile-inner {
    display: inline-block;
    width: 100%;
    color: rgba(255,255,255,.5);
    font-size: 16px;
}
.header__settingsMobile {
    margin-top: 28px;
}
.header__profile {
    display: flex;
    width: 100%;
    color: #6a6a6a;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.settinsMobile__select {
    position: relative;
    display: flex;
    flex-direction: row;
}
.header__profile select {
    padding-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #2ad59f;
    background: 0 0;
    border: none;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select--icon {
    position: absolute;
    right: 0;
    width: 12px;
    top: calc(50% - 3px);
    height: 6px;
    stroke: #2ad59f;
    pointer-events: none;
}
.header__profile option {
    background-color: #fff;
    color: #000;
}
.header__profile span {
    font-size: 13px;
    color: #2ad59f;
}
.header__navigation {
    height: 100%;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}
.header__toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__navigation ul {
    display: flex;
    flex-direction: row;
}
.header__navigation li {
    position: relative;
    padding: 28px 0px;
    margin: 0px 15px;
}
.header__navigation li:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--main-header-color);
}
.header__navigation li:hover:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
.header__navLinks {
    height: 100%;
    color: var(--main-header-color);
}
.profile, .search, .cart {
    cursor: pointer;
    margin-left: 25px;
}
.icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1px;
    background: 0 0;
}
.icon--search, .icon--profile {
    stroke: var(--main-header-color);
}
.icon--search {
    width: 21px;
    height: 21px;
    fill: var(--main-header-color);
}
.icon--profile {
    width: 20px;
    height: 20px;
    fill: var(--main-header-color);
}
.icon--cart {
    width: 19px;
    height: 23px;
    fill: var(--main-header-color);
}
.sidebar {
    display: none;
    cursor: pointer;
    margin-left: 18px;
    height: 25px;
    z-index: 5;
}
.sidebar div {
    width: 18px;
    height: 2px;
    background-color: var(--main-header-color);
    margin: 5px 0;
    transition: 0.4s;
}
.search-mobileView {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
}
.search-mobileView__areaInput {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 41px;
    color: #fff;
    border: 1px solid #fff;
}
.search-mobileView__areaButton {
    position: absolute;
    right: 10px;
}
.pageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}
.pageOverlay.visible {
    opacity: 0.5;
    visibility: visible
}
.cartArea {
    width: 40%;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    right: -103%;
    transition: 2s;
    z-index: 7;
}
.cartArea::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 10px rgb(54 54 54 / 20%), -2px 0 10px rgb(54 54 54 / 20%);
    transition: opacity .5s cubic-bezier(.645, .045, .355, 1);
}
.cartArea__header {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    background: inherit;
    text-align: center;
    box-shadow: 0 -1px #d9d9d9 inset;
    padding: 0px 30px;
}
.cartArea__title {
    font-weight: 400;
    font-style: normal;
    color: var(--main-header-color);
    letter-spacing: .2em;
    text-transform: uppercase;
}
.cartArea__close {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.cartArea__close div {
    width: 18px;
    height: 2px;
    background-color: var(--main-header-color);
    margin: 5px 0;
}
.closeTop {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
.closeMiddle {
    opacity: 0;
}
.closeBottom {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Content */

.content {
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 90px;
}
.title--h1 {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--main-header-color);
}
.presentation-inner, .popularProd-inner {
    position: relative;
    min-width: 0;
}
.content__promotion {
    width: 100%;
    height: 350px;
    background-color: #e9e9e9;
}
.productCard {
    display: flex;
    justify-content: center;
}
.productCard .productCard-inner {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.productCard__blockImage {
    overflow: hidden;
    position: relative;
    height: 280px;
}
.productCard__blockImage img {
    object-fit: cover;
    width: 100%;
    height: 280px;
    transition: all 0.3s ease;
}
.productCard__sizeLine {
    width: 28px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(100% - 15px);
    right: 70px;
    z-index: 1;
    background-color: #fff;
    transition: top 0.3s ease;
}
.productCard__sizeLine span {
    color: var(--main-header-color);
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px;
}
.productCard__blockInfo {
    padding: 17px;
    display: flex;
    flex-direction: column;
}
.productCard__title {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000;
}
.productCard__price {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}
.productCard__mobileSizeLine {
    margin-top: 5px;
    align-items: center;
    width: 100%;
    font-size: 13px;
    color: #999;
}
.productCard__mobileSizeLine span {
    padding: 3px 5px;
    margin: 5px 5px 5px 0px;
    border: 1px solid #f3f3f3;
    display: inline-block;
    border-radius: 2px;
    font-size: 11px;
    color: #000;
}
/* Footer */

.footer {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    /* background-color: #f4f3f1; */
    background-color: #fff;
    padding: 34px 0;
    display: flex;
    flex-direction: column;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.footer__mainLinks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__updatesBLock {
    width: 40%;
}
.footer__section {
    flex: 0 1 50%;
    margin-bottom: 35px;
}
.footer__title {
    color: var(--main-header-color);
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}
.footer__list {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a;
}
.footer__paragpaph {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a; 
}
.footer__link {
    width: 100%;
    display: block;
    text-align: inherit;
    transition: color .2s ease-in-out;
}
.footer__link:hover {
    color: var(--main-header-color);
}
.footer__subscribe {
    margin-top: 18px;
    width: 100%;
    max-width: 420px;
}
.footer__input {
    width: 100%;
    display: block;
    padding: 0px 14px;
    height: 44px;
    border: 1px solid #d9d9d9;
    color: var(--main-header-color);
    transition: border-color .1s ease-in-out;
    resize: none;
    font-size: 15px;
}
.footer__input:focus {
    border-color: var(--main-header-color);
}
.footer__button {
    cursor: pointer;
    margin-top: 20px;
    height: 44px;
    padding: 0px 28px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--main-header-color);
    transition: .2s ease-out;
}
.footer__button:hover {
    color: #fff;
    background-color: var(--main-header-color);
}
.footer__aside {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.payTablet__tool {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.footer__usNetworks {
    min-width: 150px;
    display: flex;
    flex-direction: column;
}
.footer__usNetworks-inner {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: var(--main-header-color);
}
.footer__usNetworks-aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__usNetworks-aside svg {
    margin-top: 10px;
    width: 17px;
    height: 17px;
    fill: var(--main-header-color);
    transition: fill .2s ease-in-out;
}
.footer__networks--Inst:hover svg {
    fill: #e1306c;
}
.footer__networks--Tg:hover svg {
    fill: #0088cc;
}
.footer__networks--WtsApp:hover svg {
    fill: #4FCE5D;
}

/* Slider */

.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    z-index: 2;
    font-size: 0;
}

/* Adaptive block */

@media (max-width: 1120px) {
    .header__logo {
        position: unset;
    }
}
@media (max-width: 991px) {
    .indent {
        margin-bottom: 35px;
    }
    .header {
        box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    }
    .header__navigation-mobile {
        display: block;
    }
    .sidebar {
        display: inline-block;
    }
    .container {
        padding: 0px 25px;
    }
    .cart {
        margin-left: 0px;
    }
    .icon--cart {
        width: 17px;
        height: 20px;
    }
    .cartArea {
        width: 100%;
        transition: 0.5s;
    }
    .profile, .search, .header__navigation, .productCard__sizeLine {
        display: none;
    }
    .header__cartArea {
        transition: 0.5s;
    }
    .icon--profile {
        width: 19px;
        height: 19px;
        stroke: #2ad59f;
    }
    .icon--search {
        stroke: #fff;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__section {
        flex: 0 1 33%;
    }
    .footer__mainLinks, .footer__updatesBLock {
        width: 100%;
    }
    .productCard__mobileSizeLine.undisplay {
        display: flex;
    }
}
@media (max-width: 641px) {
    .footer__aside {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .payTablet {
        width: 100%;
        margin-top: 50px;
        padding-top: 28px;
        border-top: 1px solid #e9e9e9;
    }
    .payTablet-inner {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 575px) {
    .footer__section {
        flex: 0 1 50%;
    }
}
@media (max-width: 425px) {
    .footer__inner {
        justify-content: center;
    }
    .footer__section {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .footer__list, .footer__title, .footer__paragpaph {
        text-align: center;
    }
    .footer__updatesBLock {
        margin-top: 20px;
    }
    .footer__subscribe {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer__aside, .footer__usNetworks {
        align-items: center;
    }
}
@media (min-width: 641px) {
    .footer {
        padding: 75px 0 42px 0;
    }
}
/* JS toggle classes */

.active--menu {
    top: 0 !important;
    transition: 0.4s;
    overflow: auto;
}
.active--cart {
    right: 0 !important;
    transition: 0.5s;
}
.hide {
    max-height: 158px;
    visibility: visible;
}
.undisplay {
    display: none;
}
.lock {
    overflow: hidden;
}
.open-menu .burgerTop {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
    background-color: #fff;
}
.open-menu .burgerMiddle {
    opacity: 0;
} 
.open-menu .burgerBottom {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #fff;
}
.emerald {
    position: relative;
}
.emerald::after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    background: url(../graphics/png/squiggle.png) repeat-x 0 bottom;
    height: 5px;
    transition: opacity 150ms ease-out 0ms;
    animation: emeraldwave 2s linear infinite;
}

/* Animation */

@keyframes emeraldwave {
	from {
		background-position: 0px bottom;
	}
	to {
		background-position: -65px bottom;
	}
}