@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --main-header-color-: #1c1b1b;
    --main-header-color: #000;
    --rg323: #2ad59f;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    background: none;
    outline: none;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}
.wrapper {
    min-height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0 auto;
}

/* Content */

.content {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    background-color: #fff;
    flex: 1 1 auto;
    margin-top: 70px;
}
.title--h1 {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--main-header-color);
}
.title--h1 span {
    color: var(--rg323);
}
.dividingLine {
    width: 100%;
    background: #F2F4F8;
    padding: 20px 0;
    margin: 0 0 45px;
}
.breadCrumbs {
}
.product__absolutelyInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product__photoInfo {
    flex: 0 0 42%;
    max-width: 42%;
}
.product__single {
}
.product__choose {
}
.product__rightBlock {
    flex: 0 0 58%;
    max-width: 58%;
}
.product__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product__name {
    color: var(--main-header-color);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 12px;
    line-height: 1.33;
}
.product__rate {
}
.product__subTitle {
    display: flex;
    margin: 0 0 12px;
    justify-content: space-between;
    align-items: center;
}
.product__sold {
    font-size: 14px;
    color: var(--rg323);
}
.product__vendorCode {
    font-size: 12px;
    color: #747474;
}
.product__prices-inner {
    padding: 12px 0 15px;
}
.productCard__price {
    font-size: 30px;
    font-weight: 600;
}
.productCard__oldPrice {
    color: #747474;
    font-size: 15px;
}
.productCard__oldPrice {
}
.product__description {
    font-size: 14px;
    color: #747474;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 22px;
}
.product__descriptionMore {
    text-decoration: underline;
    transition: color 0.3s ease;
    font-size: 13px;
}
.product__descriptionMore:hover {
    color: var(--rg323);
}
.settings__block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e8e9eb;
    padding: 0 0 20px;
    margin: 0 0 30px;
}
.settings__size, .settings__color {
    height: 42px;
    margin: 0 30px 10px 0;
}
.sizeBlock, .settings__size, .settings__color {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titleManagement {
    font-size: 14px;
    margin: 0 12px 0 0;
    color: var(--main-header-color);
    text-transform: uppercase;
    font-weight: 700;
    min-width: 60px;
    display: inline-block;
}
.colorBlock {
    min-width: 180px;
    position: relative;
}
.colorBlock-inner {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e8e9eb;
    background-color: #fff;
    width: 100%;
    height: 42px;
    position: relative;
}
.colorBlock__arrow {
    fill: #747474;
}
.colorBlock__list {
    position: absolute;
    width: 100%;
    border: 1px solid #e8e9eb;
    background-color: #fff;
    border-top: none !important;
    padding: 0px 10px;
    top: 40px;
    z-index: 2;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
}
.colorBlock__select {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.colorBlock__selectList {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    color: #747474;
}
.colorBlock__selectList:not(:nth-child(1)) {
    border-top: 1px solid #e8e9eb;
}
.colorSquare {
    margin-right: 10px;
    width: 10px;
    height: 10px;
}
.sizeBlock__item {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #e8e9eb;
    color: #747474;
    margin-right: 10px;
    background-color: #fff;
}
.sizeBlock__item:hover {
    color: var(--main-header-color);
    border-color: var(--main-header-color);
}
.sizeBlock input[type="radio"]:checked + label {
    color: #fff;
    border-color: #000;
    background-color: #000;
}
.settings__select {
}
.settings__quantity {
}
.settings__submit {
    margin-top: 27px;
}
.quantityBlock {
    display: flex;
    flex-direction: row;
}
.quantityBlock__plus, .quantityBlock__minus {
    cursor: pointer;
}
.quantityBlock__plus:hover svg, .quantityBlock__minus:hover svg {
    fill: #000;
}
.quantityBlock__total, .quantityBlock__plus, .quantityBlock__minus {
    text-align: center;
    padding: 0 5px;
    color: #747474;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    font-size: 13px;
}

/* Footer */

.footer {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    /* background-color: #f4f3f1; */
    background-color: #fff;
    padding: 34px 0;
    display: flex;
    flex-direction: column;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.footer__mainLinks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__updatesBLock {
    width: 40%;
}
.footer__section {
    flex: 0 1 50%;
    margin-bottom: 35px;
}
.footer__title {
    color: var(--main-header-color);
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}
.footer__list {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a;
}
.footer__paragpaph {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a; 
}
.footer__link {
    width: 100%;
    display: block;
    text-align: inherit;
    transition: color .2s ease-in-out;
}
.footer__link:hover {
    color: var(--main-header-color);
}
.footer__subscribe {
    margin-top: 18px;
    width: 100%;
    max-width: 420px;
}
.footer__input {
    width: 100%;
    display: block;
    padding: 0px 14px;
    height: 44px;
    border: 1px solid #d9d9d9;
    color: var(--main-header-color);
    transition: border-color .1s ease-in-out;
    resize: none;
    font-size: 15px;
}
.footer__input:focus {
    border-color: var(--main-header-color);
}
.footer__button {
    margin-top: 20px;
}
.footer__button, .settings__button {
    cursor: pointer;
    height: 44px;
    padding: 0px 28px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    letter-spacing: .1em;
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--main-header-color);
    transition: .2s ease-out;
}
.buy {
    background-color: #000;
    color: #fff;
}
.buy:hover {
    opacity: .8;
    color: #fff;
}
.footer__button:hover, .addToCard:hover {
    color: #fff;
    background-color: var(--main-header-color);
}
.footer__aside {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.payTablet {
    margin-top: 28px;
}
.payTablet__tool {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.footer__usNetworks {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer__usNetworks-aside {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.usNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    background-color: #d9d9d9;
    transition: background-color 0.3s ease;
}
.usNetworks span {
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.usNetworks:nth-child(1)::after, .usNetworks:nth-child(3)::after {
    display: block;
    content: "";
    position: absolute;
    height: 35px;
    width: 2px;
    background-color: #fff;
}
.usNetworks:nth-child(1)::after {
    right: 33.20%;
}
.usNetworks:nth-child(3)::after {
    left: 33.20%;
}
.footer__usNetworks-aside svg {
    width: 17px;
    height: 17px;
    fill: #fff;
}
.footer__usNetworks-aside .usNetworks:nth-child(1):hover {
    background-color: #e1306c;
}
.footer__usNetworks-aside .usNetworks:nth-child(2):hover {
    background-color: #0088cc;
}
.footer__usNetworks-aside .usNetworks:nth-child(3):hover {
    background-color: #4FCE5D;
}

/* Slider */

.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    z-index: 2;
    font-size: 0;
}

/* Adaptive block */

@media (max-width: 1120px) {
    .header__logo {
        position: unset;
    }
}
@media (max-width: 991px) {
    .header {
        box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    }
    .header__navigation-mobile {
        display: block;
    }
    .sidebar {
        display: inline-block;
    }
    .container {
        padding: 0px 25px;
    }
    .cart {
        margin-left: 0px;
    }
    .icon--cart {
        width: 17px;
        height: 20px;
    }
    .cartArea {
        width: 100%;
        transition: 0.5s;
    }
    .profile, .search, .header__navigation, .productCard__sizeLine {
        display: none;
    }
    .header__cartArea {
        transition: 0.5s;
    }
    .icon--profile {
        width: 19px;
        height: 19px;
        stroke: var(--rg323);
    }
    .icon--search {
        stroke: #fff;
    }
    .product__sold {
        font-size: 13px;
    }
    .product__description {
        font-size: 13px;
    }
    .settings__button {
        height: 38px;
        line-height: 32px;
    }
    .productCard__price {
        font-size: 20px;
    }
    .settings__block {
        padding: 0 0 15px;
        margin: 0 0 22px;
    }
    .footer__inner, .settings__block-inner {
        flex-direction: column !important;
    }
    .footer__section {
        flex: 0 1 33%;
    }
    .footer__mainLinks, .footer__updatesBLock {
        width: 100%;
    }
    .productCard__mobileSizeLine.undisplay {
        display: flex !important;
    }
}
@media (max-width: 767px) {
    .titleManagement {
        font-size: 13px;
    }
    .settings__submit {
        flex-direction: column-reverse;
    }
    .buy {
        margin-bottom: 15px;
    }
    .addToCard {
        margin-right: 0px !important;
    }
    .product__rightBlock, .product__photoInfo {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .productCard__oldPrice {
        font-size: 14px;
    }
}
@media (max-width: 641px) {
    .footer__aside {
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }
    .product__description {
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .product__rightBlock, .product__photoInfo {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product__name {
        font-size: 20px;
    }
    .title--h1 {
        font-size: 24px;
    }
    .footer__section {
        flex: 0 1 50%;
    }
    .payTablet {
        width: 100%;
    }
    .payTablet-inner {
        display: flex !important;
        justify-content: center !important;
    }
    .usNetworks span {
        display: none;
    }
    .footer__usNetworks-aside .usNetworks:nth-child(1):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(2):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(3):hover {
        background-color: #d9d9d9;
    }
}
@media (max-width: 425px) {
    .footer__inner {
        justify-content: center !important;
    }
    .footer__section {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .footer__list, .footer__title, .footer__paragpaph {
        text-align: center;
    }
    .footer__updatesBLock {
        margin-top: 20px;
    }
    .footer__subscribe {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    
}
@media (min-width: 641px) {
    .footer {
        padding: 75px 0 42px 0;
    }
}