@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    border: none;
    background: none;
    outline: none;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}
.wrapper {
    min-height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    margin: 0 auto;
}

/* Header */

.pre-header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 3;
}
.pre-header__left {

}
.pre-header__mail {
    margin-right: 20px;
}
.pre-header__phone {
}
.pre-header__right {

}
.header {
    font-family: 'Roboto', sans-serif !important;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    z-index: 3;
}
.header__navigation-mobile {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #1c1b1b;
    transition: 0.4s;
    z-index: 4;
    overflow: hidden;
}
.headerAfter {
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 5;
    background-color: #1c1b1b;
}
.headerBefore {
    margin-top: 45px;
    position: fixed;
    width: 100%;
    height: 25px;
    z-index: 5;
    background-image: linear-gradient(#1c1b1b,rgba(28,27,27,.6) 40%,rgba(28,27,27,0));
}
.mobileWrapper {
    padding: 0px 25px;
    margin-top: 70px;
}
.mobileWrapper::after {
    display: block;
    content: '';
    height: 20px;
}
.outside {
    margin-top: 20px;
}
.inside {
    max-height: 0;
    margin-left: 16px;
    visibility: hidden;
    transition: max-height .35s ease-in-out, visibility .35s ease-in-out;
    overflow: hidden;
}
.header__logo {
    position: absolute;
    left: 50px;
}
.header__mobileMenuList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__listOne {
    font-family: 'Montserrat', sans-serif !important;
    height: auto;
    width: 100%;
    border-bottom: solid 1px #333;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.4s;
}
.header__listTwo {
    padding: 13px 0px;
}
.header__linkMobile {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    color: #fff;
    width: 100%;
}
.header__arrow {
    margin-right: 10px;
    fill: #fff;
    transition: transform 0.3s ease;
}
.header__linkMobile-inner {
    display: inline-block;
    width: 100%;
    color: rgba(255,255,255,.5);
    font-size: 16px;
}
.header__settingsMobile {
    margin-top: 28px;
}
.header__profile {
    display: flex;
    width: 100%;
    color: #6a6a6a;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.settinsMobile__select {
    position: relative;
    display: flex;
    flex-direction: row;
}
.header__profile select {
    padding-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #2ad59f;
    background: 0 0;
    border: none;
    outline: none;
}
select::-ms-expand {
    display: none;
}
.select--icon {
    position: absolute;
    right: 0;
    height: 9px;
    top: calc(50% - 3px);
    width: 9px;
    fill: #2ad59f;
    pointer-events: none;
}
.header__profile option {
    background-color: #fff;
    color: #000;
}
.header__profile span {
    font-size: 13px;
    color: #2ad59f;
}
.header__navigation {
    height: 100%;
    font-style: normal;
}
.header__toolbar {
    display: flex;
    position: absolute;
    right: 50px;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__nav {
    margin: 0px 20px;
}
.header__navLinks {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--main-header-color);
}
.header__navLinks:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--main-header-color);
}
.header__nav:hover .header__navLinks:after {
    opacity: 1;
    width: 100%;
    left: 0;
}
.header__nav.focused .header__dropdownMenu {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
    transition: transform .25s ease, opacity 0ms, visibility 0ms;
}
.header__nav.focused .header__dropdownMenu .header__dropdownMenu-column {
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s ease, opacity .2s linear;
    transition-delay: .2s;
}
.header__dropdownMenu {
    width: 100%;
    padding: 40px;
    padding-top: 16px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    max-height: 800px;
    top: 70px;
    left: 0;
    right: 0;
    transition: transform .1s ease, opacity 0ms linear .1s, visibility 0ms linear .1s;
    transform-origin: top center;
    transform: scaleY(0);
}
.header__dropdownMenu-inner {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.header__dropdownMenu-column {
    width: 16.666666%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform .1s, opacity .1s;
    transition-delay: 0s;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}
.header__dropdownMenu-title {
    color: var(--main-header-color);
    margin-bottom: 14px;
    font-size: 16px;
}
.header__dropdownMenu-link {
    display: block;
    color: #757575;
    font-size: 15px;
    line-height: 1.428571;
    margin-bottom: 6px;
}
.header__dropdownMenu-link:hover {
    color: var(--main-header-color);
}
.profile, .search, .cart {
    cursor: pointer;
    margin-left: 25px;
}
.icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1px;
    background: 0 0;
}
.icon--search, .icon--profile {
    stroke: var(--main-header-color);
}
.icon--search {
    width: 21px;
    height: 21px;
    fill: var(--main-header-color);
}
.icon--profile {
    width: 20px;
    height: 20px;
    fill: var(--main-header-color);
}
.icon--cart {
    width: 19px;
    height: 23px;
    fill: var(--main-header-color);
}
.sidebar {
    display: none;
    cursor: pointer;
    margin-left: 18px;
    height: 25px;
    z-index: 5;
}
.sidebar div {
    width: 18px;
    height: 2px;
    background-color: var(--main-header-color);
    margin: 5px 0;
    transition: 0.4s;
}
.search-mobileView {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
}
.search-mobileView__areaInput {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 41px;
    color: #fff;
    border: 1px solid #fff;
}
.search-mobileView__areaButton {
    position: absolute;
    right: 10px;
}
.cartArea {
    width: 40%;
    height: 100%;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    right: -103%;
    transition: 2s;
    z-index: 7;
}
.cartArea::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 10px rgb(54 54 54 / 20%), -2px 0 10px rgb(54 54 54 / 20%);
    transition: opacity .5s cubic-bezier(.645, .045, .355, 1);
}
.cartArea__header {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 -1px #d9d9d9 inset;
    padding: 0px 30px;
}
.cartArea__title {
    font-weight: 400;
    font-style: normal;
    color: var(--main-header-color);
    letter-spacing: .2em;
    text-transform: uppercase;
}

/* Content */

.content {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    background-color: #fff;
    flex: 1 1 auto;
    margin-top: 1px;
}
.title--h1 {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: var(--main-header-color);
}
.title--h1 span {
    color: var(--rg323);
}
.dividingLine {
    width: 100%;
    background: #f2f4f8;
    padding: 20px 0;
    margin: 0 0 45px;
}
.breadCrumbs {
    font-size: 14px;
}
.breadCrumbs a {
    cursor: pointer;
    /* color: #007bff; */
    color: #747474;
    -webkit-transition: color .2s ease-in-out 0s;
    -moz-transition: color .2s ease-in-out 0s;
    -ms-transition: color .2s ease-in-out 0s;
    -o-transition: color .2s ease-in-out 0s;
    transition: color .2s ease-in-out 0s;
}
.breadCrumbs a:hover {
    color: var(--main-header-color);
}
.breadCrumbs__slash {
    color: #c1c0c0;
    padding: 0 6px;
}
.breadCrumbs__thisPoint {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.product__absolutelyInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productWrapper {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.product__photoInfo {
    flex: 0 0 42%;
    max-width: 42%;
}
.product__single {
    max-width: 100%;
    margin-bottom: 20px;
}
.product__single img, .product__gallery img {
    object-fit: cover;
    width: 100%;
}
.product__gallery img {
    cursor: pointer;
}
.product__gallery {
    padding: 0 25px;
}
.product__gallery::after {
    right: 0;
}
.product__gallery::before {
    left: 0;
}
.slide-button-next, .slide-button-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 3;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--main-header-color);
}
.swiper-button-disabled {
    opacity: 0.5;
}
.slide__arrow {
    width: 17px;
    height: 17px;
    fill: #fff;
}
.product__gallery::after, 
.product__gallery::before {
    content: "";
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 2;
}
.product__rightBlock {
    flex: 0 0 58%;
    max-width: 58%;
}
.product__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product__name {
    color: var(--main-header-color);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 12px;
    line-height: 1.33;
}
.product__rate {
}
.product__subTitle {
    display: flex;
    margin: 0 0 12px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.product__prices-inner {
    padding: 12px 0 15px;
}
.productCard__price {
    font-size: 30px;
    font-weight: 600;
}
.productCard__oldPrice {
    color: #747474;
    font-size: 15px;
}
.product__description {
    font-size: 14px;
    color: #747474;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 22px;
}
.product__descriptionMore {
    text-decoration: underline;
    transition: color 0.3s ease;
    font-size: 13px;
}
.product__descriptionMore:hover {
    color: var(--rg323);
}
.settings__block {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e8e9eb;
    padding: 0 0 20px;
    margin: 0 0 30px;
}
.settings__size, .settings__color {
    height: 42px;
    margin: 0 30px 10px 0;
}
.colorBlock, .settings__size, .settings__color {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titleManagement {
    font-size: 14px;
    margin: 0 12px 0 0;
    color: var(--main-header-color);
    text-transform: uppercase;
    font-weight: 700;
    min-width: 60px;
    display: inline-block;
}
.sizeBlock {
    min-width: 180px;
    position: relative;
}
.sizeBlock-inner {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e8e9eb;
    background-color: #fff;
    padding: 0 25px 0 10px;
    width: 100%;
    height: 42px;
    position: relative;
}
.sizeBlock__selected {
    font-size: 13px;
    font-weight: 500;
    color: #747474;
}
.sizeBlock__arrow {
    fill: #747474;
}
.sizeBlock__list {
    position: absolute;
    width: 100%;
    border: 1px solid #e8e9eb;
    background-color: #fff;
    top: 39px;
    z-index: 2;
}
.sizeBlock__select, .sizeBlock__linkToTable {
    width: 100%;
}
.sizeBlock__linkToTable-inner {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.sizeBlock__linkToTable-inner svg {
    margin-right: 10px;
    fill: var(--main-header-color);
}
.sizeBlock__selectList {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-header-color);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.sizeBlock__selectList:hover {
    background-color: #eeedec;
}
.sizeList-mobile {
    width: 100%;
    bottom: -100%;
    z-index: 6;
    position: fixed;
    background-color: #fff;
    color: var(--main-header-color);
    transition: bottom .4s ease;
}
.sizeList-mobile__header {
    padding: 22px 20px;
    border-bottom: 1px solid #c8c7c7;
}
.sizeList-mobile__title {
    font-size: 14px;
    font-weight: 500;
}
.sizeList-mobile__content {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: auto; 
    min-height: 0px;
}
.sizeList-mobile__footer {
    padding: 22px 20px;
    border-top: 1px solid #c8c7c7;
}
.active--size {
    bottom: 0 !important;
}
.colorBlock__item {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    color: #747474;
    margin-right: 10px;
    background-color: #fff;
}
.colorBlock__squaere {
    width: 75%;
    height: 75%;
}
.colorBlock__item:hover {
    border: 1px solid #c8c7c7;
}
.colorBlock input[type="radio"]:checked + label {
    border: 1px solid #c8c7c7;
}
.colorBlock input[type="radio"]:checked + label::before {
    content: "";
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--main-header-color);
    background-image: url(../graphics/svg/check.svg);
    position: absolute;
    right: 0;
    bottom: 0;
}
.settings__submit {
    margin-top: 27px;
}
.quantityBlock {
    display: flex;
    flex-direction: row;
}
.quantityBlock__plus, .quantityBlock__minus {
    cursor: pointer;
}
.quantityBlock__plus:hover svg, .quantityBlock__minus:hover svg {
    fill: var(--main-header-color);
}
.quantityBlock__total, .quantityBlock__plus, .quantityBlock__minus {
    text-align: center;
    padding: 0 5px;
    color: #747474;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    font-size: 13px;
}

/* Footer */

.footer {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    /* background-color: #f4f3f1; */
    background-color: #fff;
    padding: 34px 0;
    display: flex;
    flex-direction: column;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.footer__mainLinks {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__updatesBLock {
    width: 40%;
}
.footer__section {
    flex: 0 1 50%;
    margin-bottom: 35px;
}
.footer__title {
    color: var(--main-header-color);
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}
.footer__list {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a;
}
.footer__paragpaph {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    color: #6a6a6a; 
}
.footer__link {
    width: 100%;
    display: block;
    text-align: inherit;
    transition: color .2s ease-in-out;
}
.footer__link:hover {
    color: var(--main-header-color);
}
.footer__subscribe {
    margin-top: 18px;
    width: 100%;
    max-width: 420px;
}
.footer__input {
    width: 100%;
    display: block;
    padding: 0px 14px;
    height: 44px;
    border: 1px solid #d9d9d9;
    color: var(--main-header-color);
    transition: border-color .1s ease-in-out;
    resize: none;
    font-size: 15px;
}
.footer__input:focus {
    border-color: var(--main-header-color);
}
.footer__button {
    margin-top: 20px;
}
.footer__button, .settings__button {
    cursor: pointer;
    padding: 0px 28px;
    height: 44px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--main-header-color);
    transition: .2s ease-out;
}
.buy {
    background-color: var(--main-header-color);
    color: #fff;
}
.buy:hover {
    opacity: .8;
    color: #fff;
}
.footer__button:hover, .addToCard:hover {
    color: #fff;
    background-color: var(--main-header-color);
}
.footer__aside {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.payTablet {
    margin-top: 28px;
}
.payTablet__tool {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.footer__usNetworks {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer__usNetworks-aside {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.usNetworks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    background-color: #d9d9d9;
    transition: background-color 0.3s ease;
}
.usNetworks span {
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.usNetworks:nth-child(1)::after, .usNetworks:nth-child(3)::after {
    display: block;
    content: "";
    position: absolute;
    height: 35px;
    width: 2px;
    background-color: #fff;
}
.usNetworks:nth-child(1)::after {
    right: 33.20%;
}
.usNetworks:nth-child(3)::after {
    left: 33.20%;
}
.footer__usNetworks-aside svg {
    width: 17px;
    height: 17px;
    fill: #fff;
}
.footer__usNetworks-aside .usNetworks:nth-child(1):hover {
    background-color: #e1306c;
}
.footer__usNetworks-aside .usNetworks:nth-child(2):hover {
    background-color: #0088cc;
}
.footer__usNetworks-aside .usNetworks:nth-child(3):hover {
    background-color: #4FCE5D;
}

/* Adaptive block */

@media (max-width: 1120px) {
    .dividingLine {
        margin: 0 0 30px;
    }
}
@media (max-width: 991px) {
    .header {
        box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
        position: fixed;
    }
    .content {
        margin-top: 73px;
    }
    .header__navigation-mobile {
        display: block;
    }
    .sidebar {
        display: inline-block;
    }
    .container {
        padding: 0px 25px;
    }
    .header__logo {
        left: 25px;
    }
    .header__toolbar {
        right: 25px;
    }
    .cart {
        margin-left: 0px;
    }
    .icon--cart {
        width: 17px;
        height: 20px;
    }
    .cartArea {
        width: 100%;
        transition: 0.5s;
    }
    .profile, .search, 
    .header__navigation,
    .pre-header, 
    .header__dropdownMenu,
    .productCard__sizeLine, 
    .sizeBlock__list {
        display: none;
    }
    .header__cartArea {
        transition: 0.5s;
    }
    .icon--profile {
        width: 19px;
        height: 19px;
        stroke: var(--rg323);
    }
    .icon--search {
        stroke: #fff;
    }
    .dividingLine {
        margin: 0 0 20px;
    }
    .productWrapper {
        padding-left: 8px;
        padding-right: 8px;
    }
    .product__subTitle, .product__description {
        font-size: 13px;
    }
    .productCard__price {
        font-size: 20px;
    }
    .settings__block {
        padding: 0 0 15px;
        margin: 0 0 22px;
    }
    .sizeBlock__select {
        max-height: 40vh;
    }
    .sizeBlock__selectList {
        padding: 22px 20px;
        font-size: 13px;
        font-weight: 500;
        border-bottom: 1px solid rgba(200,199,199,.5)
    }
    .sizeBlock__selectList:last-of-type {
        border-bottom: 0;
    }
    .footer__inner, .settings__block-inner {
        flex-direction: column !important;
    }
    .footer__section {
        flex: 0 1 33%;
    }
    .footer__mainLinks, .footer__updatesBLock {
        width: 100%;
    }
    .productCard__mobileSizeLine.undisplay {
        display: flex !important;
    }
    .breadCrumbs {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .titleManagement {
        font-size: 13px;
    }
    .settings__submit {
        flex-direction: column-reverse;
    }
    .buy {
        margin-bottom: 15px;
    }
    .addToCard {
        margin-right: 0px !important;
    }
    .product__rightBlock, .product__photoInfo {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .productCard__oldPrice {
        font-size: 14px;
    }
}
@media (max-width: 641px) {
    .footer__aside {
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }
    .product__description {
        font-size: 12px;
    }
}
@media (max-width: 575px) {
    .dividingLine {
        margin: 0 0 15px;
    }
    .product__rightBlock, .product__photoInfo {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .productWrapper, .product__rightBlock-inner {
        padding: 0 !important;
    }
    .product__name {
        padding-top: 30px;
        font-size: 20px;
    }
    .title--h1 {
        font-size: 24px;
    }
    .footer__section {
        flex: 0 1 50%;
    }
    .payTablet {
        width: 100%;
    }
    .payTablet-inner {
        display: flex !important;
        justify-content: center !important;
    }
    .usNetworks span {
        display: none;
    }
    .footer__usNetworks-aside .usNetworks:nth-child(1):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(2):hover,
    .footer__usNetworks-aside .usNetworks:nth-child(3):hover {
        background-color: #d9d9d9;
    }
}
@media (max-width: 425px) {
    .footer__inner {
        justify-content: center !important;
    }
    .footer__section {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .footer__list, .footer__title, .footer__paragpaph {
        text-align: center;
    }
    .footer__updatesBLock {
        margin-top: 20px;
    }
    .footer__subscribe {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    
}
@media (min-width: 991px) {
    .sizeList-mobile,
    .pageOverlay {
        display: none;
    }
}
@media (min-width: 641px) {
    .footer {
        padding: 75px 0 42px 0;
    }
}