/* Tools */

:root {
    --main-header-color-: #1c1b1b;
    --main-header-color: #000;
    --main-header-color--: #1c1c1c;
    --rg323: #2ad59f;
}
.header-fixed {
    position: fixed;
    top: 0;
}
.header-fixed  + .content {
    padding-top: 70px;
}
.blur-bg {
    background-color: hsla(0,0%,7%,.36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .25s, visibility 0s linear .25s;
}
.blur-bg.aiming {
    opacity: 1;
    visibility: visible;
    transition: opacity .8s ease, visibility 0s;
}
.flexelements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fx {
    display: flex;
}
.fx-fd-row {
    flex-direction: row;
}
.fx-fd-column {
    flex-direction: column;
}
.fx-jc-c {
    justify-content: center;
}
.fx-jc-sb {
    justify-content: space-between;
}
.fx-ai-c {
    align-items: center;
}
.fx-wrp-1 {
    flex-wrap: wrap;
}
.is-relative {
    position: relative;
}
.indent {
    margin-bottom: 70px;
}
.pageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}
.pageOverlay.visible {
    opacity: 0.5;
    visibility: visible
}
.close {
    cursor: pointer;
}
.close div {
    width: 18px;
    height: 2px;
    background-color: var(--main-header-color);
    margin: 5px 0;
}
.closeTop {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
.closeMiddle {
    opacity: 0;
}
.closeBottom {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}
.active--menu {
    top: 0 !important;
    transition: 0.4s;
    overflow: auto;
}
.active--cart {
    right: 0 !important;
    transition: 0.5s;
}
.hide {
    max-height: 158px;
    visibility: visible;
}
.undisplay {
    display: none;
}
.lock {
    overflow: hidden;
}
.fe-45-1 {
    opacity: 0.3;
}
.fe-45-2 {
    pointer-events: none;
}
.fe-45-3 {
    background-color: #dadada;
}
.open-menu .burgerTop {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
    background-color: #fff;
}
.open-menu .burgerMiddle {
    opacity: 0;
} 
.open-menu .burgerBottom {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #fff;
}
.emerald {
    position: relative;
}
.emerald::after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    background: url(../graphics/png/squiggle.png) repeat-x 0 bottom;
    height: 5px;
    transition: opacity 150ms ease-out 0ms;
    animation: emeraldwave 2s linear infinite;
}
.soldOut-item {
    pointer-events: none;
    color: #f31414;
    border: 1px dashed #f31414;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.arrow-rotate {
    transform: rotate(-180deg);
}
.hide {
    max-height: 158px;
    visibility: visible;
}
.undisplay {
    display: none;
}
.lock {
    overflow: hidden;
}
@media (max-width: 991px) {
    .fe-45-1,
    .fe-45-2 {
        pointer-events: auto;
        opacity: 1;
    }
    .lock-mobile {
        overflow: hidden;
    }
    .header-fixed  + .content {
        padding-top: 0px;
    }
}

/* Animation */

@keyframes emeraldwave {
	from {
		background-position: 0px bottom;
	}
	to {
		background-position: -65px bottom;
	}
}